*{ /*Selecciona todo*/
    margin: 10px;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #e4c828;
}
h1{
    padding: 10px;
    border: 15px;
    border-style: solid;
    border-radius: 25px;
    color: darkred;
    text-align: center;
    text-decoration: underline; /*subarayado*/
    text-transform: uppercase; /*mayuscula*/
    font-style: italic; 
    letter-spacing: 15px;
    word-spacing: 30px;

}

p{
    color: darkblue;
    background-color: gray;
    text-align: justify;
    
}

img{
    width: 40%;
}


